#text_size_calculator{
    visibility: hidden;
}
.blocks_text{
    vertical-align: middle;
    display: table-cell;
}
input[type="text"]
{
    background: transparent;
    border: none;
    color:white;
    outline:none;
    text-align: center;
    background:black;
    min-width:60px;
}

.dragger{
    height: 15px;
    width: 15px;
    background: black;
}